.profile__info {
  margin: 20px 0 0 30px;
  max-width: 336px;
  display: flex;
  flex-flow: row wrap;
}

@media screen and (max-width: 900px) {
  .profile__info {
    justify-content: center;
    margin-top: 26px;
  }
}
