.popup__text-container {
  display: flex;
  flex-flow: column wrap;
  max-width: 238px;
  margin: 0 36px 0;
  padding: 0;
  border: none;
}

@media screen and (max-width: 600px) {
  .popup__text-container {
    margin: 0 22px 0;
  }
}
