.popup__form {
  width: 430px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
  .popup__form {
    margin-top: 123px;
    width: 282px;
  }
}
