.popup__header {
  max-width: 330px;
  margin: 0;
  padding: 34px 0 54px 36px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

@media screen and (max-width: 600px) {
  .popup__header {
    margin: 0 22px;
    padding: 27px 0 72px;
    max-width: 238px;
    font-size: 18px;
    line-height: 22px;
  }
}
