.form__submit {
  width: 358px;
  height: 50px;
  margin: 0 auto;
  background-color: black;
  color: white;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  transition: opacity .3s ease-in-out;
}

.form__submit:hover {
  opacity: .8;
}
