.popup__submit {
  width: 358px;
  height: 50px;
  margin: 0 auto 37px;
  padding: 0;
  border: none;
  background-color: black;
  cursor: pointer;
  color: white;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  transition: opacity .3s ease-in-out;
}

.popup__submit:hover {
  opacity: .8;
}

.popup__submit:disabled {
  opacity: .2;
  border: 1px solid black;
  background-color: white;
  color: black;
}

@media screen and (max-width: 600px) {
  .popup__submit {
    max-width: 238px;
    max-height: 46px;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 17px;
  }
}
