.popup__close {
  position: absolute;
  margin: 0;
  padding: 0;
  top: -40px;
  right: -40px;
  background: none;
  background-image: url(../../../images/close-icon.svg);
  cursor: pointer;
  width: 32px;
  height: 32px;
  border: none;
  transition: opacity .5s ease-in-out;
}

.popup__close:hover {
  opacity: .6;
}

@media screen and (max-width: 600px) {
  .popup__close {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
    background-size: contain;
  }
}
