.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  background: none;
  background-image: url(../../../images/close-icon.svg);
  width: 32px;
  height: 32px;
  border: none;
  transition: opacity .5s ease-in-out;
}

.popup__close:hover {
  opacity: .6;
}

@media screen and (max-width: 600px) {
  .popup__close {
    top: -48px;
    right: 0;
  }
}
