.profile__description {
  margin: 0;
  padding-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .profile__description {
    margin-top: 14px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
