.popup__text_error {
  visibility: hidden;
  margin: 5px 0 13px;
  padding: 0;
  color: rgba(255, 0, 0, 1);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  min-height: 30px;
  width: 100%;
}
