.card__like {
  margin: 0 20px 0 0;
  padding: 0;
  background-image: url(../../../images/like.svg);
  background-color: inherit;
  width: 22px;
  height: 19px;
  border: none;
  transition: opacity .5s ease-in-out;
}

.card__like:hover {
  opacity: .6;
}

.card__like:active {
  background-image: url(../../../images/like-active.svg);
}
