.popup__text-container {
  display: flex;
  flex-flow: column wrap;
  row-gap: 30px;
  max-width: 238px;
  margin: 0 36px 0;
  padding: 0 0 48px;
  border: none;
}

@media screen and (max-width: 600px) {
  .popup__text-container {
    padding-bottom: 45px;
    max-height: 84px;
  }
}
