.form__text-fields {
  display: flex;
  flex-flow: column wrap;
  row-gap: 30px;
  max-width: 238px;
  margin: 0 auto;
  padding: 0;
  border: none;
}

@media screen and (max-width: 600px) {
  .form__text-fields {
    margin-bottom: 39px;
  }
}
