.popup__text {
  width: 358px;
  margin: 0 auto;
  padding: 0 0 13px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .popup__text {
    max-width: 238px;
  }
}
